.boxed {
  border: 1px solid black;
  height: 100%;
  width: 100%;
  font-size: x-large;
  padding: 1rem;
}

.signUpButton {
  width: 100%;
  --background: #70ad47;
}

.verifyButton {
  width: 100%;
  --background: #43b3c3;
}

.heading {
  font-size: xx-large;
  font-weight: 400;
}

.verifyButton {
  width: 100%;
  --background: #43b3c3;
}
