<ion-content *ngIf="!isMobile else mobile">
    <ion-grid class="ion-margin">
        <ion-col size="2" offset="5">
            <ion-row class="ion-justify-content-center">
                <ion-label>
                    <h1>
                        EVENT NAME
                    </h1>
                </ion-label>
            </ion-row>
        </ion-col>

        <ion-row>
            <ion-col size="5">
                <ion-card>
                    <ion-card-header>
                        <ion-card-title>Event Date</ion-card-title>
                        <ion-card-subtitle>Club Name</ion-card-subtitle>
                    </ion-card-header>
                    <ion-card-content>
                        <ion-label>
                            Instructor name
                        </ion-label>
                    </ion-card-content>
                </ion-card>
                <ion-card>
                    <ion-card-header>
                        <ion-card-title>Description</ion-card-title>
                    </ion-card-header>
                    <ion-card-content>
                        <ion-label>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor
                            in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                        </ion-label>
                    </ion-card-content>
                </ion-card>
                <ion-card>
                    <ion-card-content>
                        <ion-grid>
                            <ion-row>
                                <ion-col size="4">
                                    <ion-item>
                                        <ion-img src="../../../../assets/img/start.jpg">
                                        </ion-img>
                                    </ion-item>
                                </ion-col>
                                <ion-col size="4">
                                    <ion-item>
                                        <ion-img src="../../../../assets/img/start.jpg">
                                        </ion-img>
                                    </ion-item>
                                </ion-col>
                                <ion-col>
                                    <ion-item size="4">
                                        <ion-img src="../../../../assets/img/start.jpg">
                                        </ion-img>
                                    </ion-item>
                                </ion-col>
                            </ion-row>
                        </ion-grid>
                    </ion-card-content>
                </ion-card>
            </ion-col>
            <ion-col size="5" offset="2">
                <ion-grid>
                    <ion-row class="ion-align-items-center">
                        <ion-col size="4" class="ion-text-center ion-text">
                            <div class="boxed">
                                1000$
                            </div>
                        </ion-col>
                        <ion-col size="4" offset="4">
                            <ion-button size="large" class="signUpButton">Sign up</ion-button>
                        </ion-col>
                    </ion-row>
                </ion-grid>
                <ion-row>
                    <ion-col>
                        <ion-button style="width: 100%; height: 300px;">MAPS</ion-button>
                        <ion-text>
                            <h1>Address</h1>
                        </ion-text>
                    </ion-col>
                </ion-row>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>


<ng-template #mobile>
    <ion-content>
        <ion-card>
            <ion-card-header>
                <ion-card-title>
                    Event name
                </ion-card-title>
                <ion-card-subtitle>
                    Event date
                </ion-card-subtitle>
                <ion-card-subtitle>
                    Price
                </ion-card-subtitle>
                <ion-card-subtitle>
                    Club name
                </ion-card-subtitle>
                <ion-card-subtitle>
                    instructor name
                </ion-card-subtitle>
            </ion-card-header>
            <ion-card-content>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor
                in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
            </ion-card-content>
        </ion-card>
        <ion-card>
            <ion-card-content>
                <ion-grid>
                    <ion-row>
                        <ion-col size="4">
                            <ion-img src="../../../../assets/img/start.jpg">
                            </ion-img>
                        </ion-col>
                        <ion-col size="4">
                            <ion-img src="../../../../assets/img/start.jpg">
                            </ion-img>
                        </ion-col>
                        <ion-col size="4">
                            <ion-img src="../../../../assets/img/start.jpg">
                            </ion-img>
                        </ion-col>
                    </ion-row>
                </ion-grid>
            </ion-card-content>
        </ion-card>
        <ion-card>
            <ion-card-content>
                <ion-button style="width: 100%; height: 300px;">Maps</ion-button>
            </ion-card-content>
        </ion-card>
    </ion-content>

    <app-mobile-signup-component [buttonText]="'Sign up'" [callback]="OnSignup"></app-mobile-signup-component>
</ng-template>