.singup-mobile {
    background-color: whitesmoke;
    border: 0px;
    border-top: 1px;
    border-bottom: 1px;
    border-style: solid;
    border-color: black;
}

.signup-button-mobile {
    width: 90%;
}