.rcorners {
    border-radius: 25px;
    padding: 30px;
    background: whitesmoke;
}
    
ion-content.background {
    --background: url(../../../../assets/img/start.png) 0 0/100% 100% no-repeat;
}

.centered ion-grid {
    height: 100%;
    padding-top: 32px;
}

.centered ion-row {
    justify-content: space-evenly;
}

.column-padding {
    padding-bottom:40px;
}

ion-item-divider {
    --background: clear;
    --color: black;
}

.calendar-element {
    padding-top: 10px;
    padding-left: 15px;
}