<ion-content class="centered background">
  <ion-grid>
      <ion-row class="ion-justify-items-center ion-align-items-start">
        <ion-col size-lg="4" size-xs="12" class="column-padding">
          <div class="rcorners">
            <div class="ion-text-center">
              <h1>Create Event</h1>
            </div>
            <div scrolly=true>
              <form [formGroup]="form" (ngSubmit)="onSubmit()">
                <ion-item>
                  <ion-input formControlName="name" placeholder="Event name"></ion-input>
                </ion-item>
                <ion-item-group *ngIf="(club$ |async)?.rooms.length > 0">
                  <ion-item-divider>
                    <ion-label>Choose locations</ion-label>
                  </ion-item-divider>
                  <ion-item *ngFor="let room of (club$ |async)?.rooms">
                    <ion-label>{{room.name}} </ion-label>
                    <ion-checkbox (ionChange)="onRoomCheckboxChange($event, room.roomId)" form slot="end"></ion-checkbox>
                  </ion-item>
                </ion-item-group>
                <ion-item-group>
                  <ion-item-divider>
                    <ion-label>Choose start and endtime</ion-label>
                  </ion-item-divider>
                  <div class="calendar-element">
                    <input [min]="viewDate" placeholder="Start Date" formControlName="startDate"
                       [owlDateTimeTrigger]="startPicker" [owlDateTime]="startPicker">
                    <owl-date-time #startPicker></owl-date-time>
                  </div>
                  <div class="calendar-element">
                    <input [min]="currentEvent.start" placeholder="End Date" formControlName="endDate"
                       [owlDateTimeTrigger]="endPicker" [owlDateTime]="endPicker">
                    <owl-date-time #endPicker></owl-date-time>
                  </div>
                </ion-item-group>
                <ion-item-divider *ngIf="(club$ | async)?.instructors.length > 0">
                  <ion-label>Choose instructors</ion-label>
                </ion-item-divider>
                <ion-item *ngFor="let isntr of (club$ |async)?.instructors">
                  <ion-label>{{isntr.user.name}} </ion-label>
                  <ion-checkbox (ionChange)="onInstructorCheckboxChange($event, isntr.userId)" form slot="end"></ion-checkbox>
                </ion-item>
                <ion-item-divider>
                  <ion-label>Input an event description</ion-label>
                </ion-item-divider>
                <ion-item>
                  <ion-textarea placeholder="Description" formControlName="description"></ion-textarea>
                </ion-item>
                <ion-item-group>
                  <ion-item-divider>
                    <ion-label>Choose prices for subscriptions</ion-label>
                  </ion-item-divider>
                  <ion-item *ngFor="let sub of (club$ |async)?.clubsubscription">
                    <ion-input type="number" placeholder="Input price for: {{sub.name}}" (input)='onPriceSubmit($event.target.value, sub.clubSubscriptionId)'></ion-input>
                  </ion-item>
                  <ion-item>
                    <ion-label>Public event</ion-label>
                    <ion-checkbox formControlName="publicChecked"></ion-checkbox>
                  </ion-item>
                  <ion-item [hidden]="!publicChecked!.value">
                    <ion-input type="number" placeholder="Input public price" formControlName="publicPrice"></ion-input>
                  </ion-item>
                </ion-item-group>
                <ion-button id="submit" size="large" type="submit" color="warning" expand="block" [disabled]="form.invalid">Create Event
                </ion-button>
              </form>
            </div>
          </div>
        </ion-col>
        <ion-col class="rcorners column-padding" size-lg="5">
          <app-event-calendar (eventChanged)="onCurrentEventChanged($event)" [events]="shownEvents" [viewDate]="viewDate"></app-event-calendar>
        </ion-col>
      </ion-row>
  </ion-grid>
</ion-content>
