.signup ion-grid {
  height: 100%;
}
.signup ion-row {
  justify-content: center;
}

ion-content {
  --color: #fff;
  --background: none;
  background: url(../../../../assets/img/start.jpg) 0 0/100% 100% no-repeat;
  background-size: cover;
}

ion-item {
  --background: transparent;
}

ion-col {
  padding: 20px;
  margin: 20px;
}

ion-button {
  --padding: 8px;
  margin-top: 12px;
}

.signup input {
  background: transparent;
  border-color: transparent;
}

.signup ion-icon {
  margin: 20px;
}

ion-toolbar {
  --background: transparent;
}

a {
  color: black;
}
