<ion-content>
  <ion-header translucent>
    <ion-toolbar>
      <ion-title>Verification code</ion-title>
      <ion-buttons slot="end">
        <ion-button (click)="dissmiss()">Close</ion-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>
  <ion-list class="ion-margin">
    <ion-radio-group [(ngModel)]="clubSubscriptionId">
      <ion-item *ngFor="let sub of clubSubscriptions$ | async">
        <ion-label>{{sub.name}}</ion-label>
        <div class="ion-margin">
          <ion-label>{{sub.price}} $</ion-label>
        </div>
        <ion-radio value="{{sub.clubSubscriptionId}}"></ion-radio>
      </ion-item>
    </ion-radio-group>
  </ion-list>
</ion-content>

<div style="position: fixed; bottom: 0px; width: 100%">
  <app-stripe-elements
    [dismissModal]="dissmiss"
    [subscriptionId]="clubSubscriptionId"
    [amount]="getAmount()"
    [description]="getName()"
  ></app-stripe-elements>
</div>
