<ion-row class="ion-justify-content-around ion-margin">
    <ion-col size="12">
        <ion-searchbar [(ngModel)]="searchQuery" (ngModelChange)="didSearch($event)" inputmode="text" animated placeholder="Search"></ion-searchbar>
    </ion-col>
</ion-row>

<ion-content>
    <ion-header style="padding-left:30px;" *ngIf="filteredEvents.length == 0 && events.length > 0">No events matching the searchquery</ion-header>
    <ion-list *ngFor="let event of filteredEvents">
        <ion-card>
            <ion-card-header>
                <ion-card-title>{{event.name.toUpperCase()}}</ion-card-title>
                <ion-card-subtitle>
                    <ion-row class="ion-justify-content-between">
                        <ion-text style="margin-top: 1rem"> Event Price </ion-text>
                        <ion-button class="goToClubButton" [routerLink]="route(event.eventId)">Go to event</ion-button>
                    </ion-row>
                </ion-card-subtitle>
            </ion-card-header>
            <ion-card-content> {{event.description}} </ion-card-content>
        </ion-card>
    </ion-list>
</ion-content>