<ion-row class="ion-justify-content-around ion-margin">
    <ion-col size="7">
        <ion-searchbar inputmode="text" animated placeholder="Search"></ion-searchbar>
    </ion-col>
    <ion-col>
        <ion-button class="searchButton" fill="solid">Find Local Clubs</ion-button>
    </ion-col>
</ion-row>

<ion-content>
    <ion-list *ngFor="let event of (evenListQuery$ | async)?.eventsConfirmed ">
        <ion-card>
            <ion-card-header>
                <ion-card-title>{{event.name.toUpperCase()}}</ion-card-title>
                <ion-card-subtitle>
                    <ion-row class="ion-justify-content-between ">
                        <ion-text style="margin-top: 1rem "> Event Price </ion-text>
                        <ion-button class="goToClubButton " [routerLink]="route(event.eventId)">Go to event</ion-button>
                    </ion-row>
                </ion-card-subtitle>
            </ion-card-header>
            <ion-card-content> {{event.description}} </ion-card-content>
        </ion-card>
    </ion-list>
</ion-content>