.searchButton {
  margin-top: 12px;
}

.goToClubButton {
  position: absolute;
  top: 2rem;
  right: 1rem;
  z-index: 1;
}

ion-list {
  background-color: #76c5f0;
  margin-top: -8px;
}

ion-card {
  --color: black;
  --background: rgb(250, 250, 250);
}
