<ion-content>
    <ion-grid *ngIf="!isInstructor else instructor">
        <ion-row class="ion-margin">
            <ion-col>
                <ion-row class="ion-justify-content-center">
                    <ion-text>
                        <h1>
                            Verification Code
                        </h1>
                    </ion-text>
                </ion-row>
                <ion-row class="ion-justify-content-center">
                    <ion-text>
                        <h1 class="codeStyle">
                            {{code}}
                        </h1>
                    </ion-text>
                </ion-row>
            </ion-col>
        </ion-row>
    </ion-grid>

    <ng-template #instructor>
        <ion-grid style="height: 60%;">
            <ion-text class="ion-text-center">
                <h1>
                    NFC is on
                </h1>
            </ion-text>
            <ion-row class="ion-justify-content-center ion-margin-top">
                <ion-spinner class="spinner"></ion-spinner>
            </ion-row>
        </ion-grid>
        <ion-text class="ion-text-center">
            <h3>
                Or type in the code here
            </h3>
            <ion-row>
                <ion-col offset="3" size="3" style="margin-bottom: 10px;">
                    <ion-input [(ngModel)]="code" inputmode="number" minlength="4" min="4" required placeholder="1234"></ion-input>
                </ion-col>
                <ion-button [disabled]="code?.length !== 4" (click)="onCodeSubmitted()">submit</ion-button>
            </ion-row>
        </ion-text>
    </ng-template>

</ion-content>