<ion-content class="login background no-scroll">
  <ion-header>
    <ion-toolbar>
      <ion-title>Event Management </ion-title>
      <ion-buttons slot="end">
        <ion-button size="large" fill="solid" color="dark" routerLink="/signup">Sign up</ion-button>
        <ion-button size="large" fill="solid" color="dark" routerLink="/login">Login</ion-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>

  <ion-grid class="ion-margin">
    <ion-row class="ion-justify-content-center ion-margin">
      <img style="border-radius: 50%; max-width: 30%;"
        src="https://cdn5.vectorstock.com/i/1000x1000/73/59/teamwork-meeting-people-logo-vector-1787359.jpg" />
    </ion-row>
    <ion-row class="ion-justify-content-center">
      <ion-button routerLink="/signup" size="large" fill="solid" color="dark">Sign up now!</ion-button>
    </ion-row>
  </ion-grid>
</ion-content>