<ion-content padding class="background no-scroll">
  <ion-grid class="ion-margin">
    <ion-row class="ion-justify-content-between">
      <ion-label>
        <h1>EMS</h1>
      </ion-label>
      <div>
        <ion-button routerLink="/signup">Sign up</ion-button>
        <ion-button routerLink="/login">Login</ion-button>
      </div>
    </ion-row>
    <ion-row class="ion-justify-content-center ion-margin">
      <img src="{{gifURL}}" />
    </ion-row>
    <ion-row class="ion-justify-content-center">
      <ion-button routerLink="/signup">Sign up now!</ion-button>
    </ion-row>
  </ion-grid>
</ion-content>
