<ion-content>
  <mat-drawer-container class="example-container" autosize>
    <mat-drawer *ngIf="platform.is('desktop')" opened="true" disableClose="true" #drawer class="example-sidenav" mode="side">
      <ion-list>
        <ion-item>
          <ion-button fill="clear" (click)="sidebarContent = SidebarContent.club">
            <ion-label>Manage Club</ion-label>
          </ion-button>
        </ion-item>
        <ion-item>
          <ion-button fill="clear" (click)="sidebarContent = SidebarContent.events">
            <ion-label>Manage Events</ion-label>
          </ion-button>
        </ion-item>
        <ion-item>
          <ion-button fill="clear" (click)="sidebarContent = SidebarContent.members">
            <ion-label>Manage Members</ion-label>
          </ion-button>
        </ion-item>
        <ion-item>
          <ion-button fill="clear" (click)="sidebarContent = SidebarContent.instructors">
            <ion-label>Manage Instructors</ion-label>
          </ion-button>
        </ion-item>
        <ion-item>
          <ion-button fill="clear" (click)="sidebarContent = SidebarContent.subscriptions">
            <ion-label>Manage Subscriptions</ion-label>
          </ion-button>
        </ion-item>
      </ion-list>
    </mat-drawer>

    <ion-content class="background">
      <div class="example-sidenav-content">
        <!-- Erstat labels med komponenter, når vi har lavet dem -->
        <app-club-manage-members *ngIf="sidebarContent==SidebarContent.members" class="member-content"></app-club-manage-members>
        <ion-label *ngIf="sidebarContent==SidebarContent.club">CLUBS</ion-label>
        <app-club-manage-events class="event-content" *ngIf="sidebarContent==SidebarContent.events"></app-club-manage-events>
        <ion-label *ngIf="sidebarContent==SidebarContent.instructors">INSTRUCTORS</ion-label>
        <app-club-manage-subcriptions class="sub-content" *ngIf="sidebarContent==SidebarContent.subscriptions"></app-club-manage-subcriptions>
      </div>
    </ion-content>
    
  </mat-drawer-container>
  
</ion-content>

