<ion-content class="login background no-scroll">
  <ion-grid>
    <ion-col class="ion-padding-top ion-align-self-end">
      <ion-row class="ion-justify-items-center ion-align-items-end">
        <ion-col class="rcorners" size-md="6" size-lg="5" size-xs="12">
          <form [formGroup]="loginForm" (ngSubmit)="onSubmit(loginForm.value)">
            <div class="ion-text-center">
              <h3>Login</h3>
            </div>
            <div>
              <ion-item color="transparent">
                <ion-input formControlName="email" type="email" placeholder="your@email.com"></ion-input>
              </ion-item>
              <ion-item color="transparent">
                <ion-input formControlName="password" type="password" placeholder="Password"></ion-input>
              </ion-item>
            </div>
            <div>
              <ion-button size="large" type="submit" [disabled]="loginForm.invalid" expand="block">Login</ion-button>
            </div>
          </form>
        </ion-col>
      </ion-row>
    </ion-col>
  </ion-grid>
</ion-content>
