<app-header-bar-component></app-header-bar-component>

<ion-content>
  <ion-tabs>
    <div *ngIf="platform.is('mobile')">
      <ion-tab-bar slot="bottom">
        <ion-tab-button tab="club-list">
          <ion-icon name="earth-outline"></ion-icon>
          <ion-label>Find clubs</ion-label>
        </ion-tab-button>
        
        <ion-tab-button tab="event-list">
          <ion-icon name="flash-outline"></ion-icon>
          <ion-label>Find events</ion-label>
        </ion-tab-button>
        
        <ion-tab-button tab="dashboard">
          <ion-icon name="home-outline"></ion-icon>
          <ion-label>Dashboard</ion-label>
        </ion-tab-button>

        <ion-tab-button tab="my-events">
          <ion-icon name="calendar-outline"></ion-icon>
          <ion-label>My events</ion-label>
        </ion-tab-button>

        <ion-tab-button tab="my-clubs">
          <ion-icon name="albums-outline"></ion-icon>
          <ion-label>My clubs</ion-label>
        </ion-tab-button>
      </ion-tab-bar>
    </div>
  </ion-tabs>
</ion-content>
