<div *ngIf="showUpcomingEvents()">
  <ion-header>
    <ion-toolbar>
      <ion-title>My upcoming events</ion-title>
    </ion-toolbar>
  </ion-header>
  <div *ngIf="upcomingMemberEvents.length > 0">
    <ion-label>You are participating in</ion-label>
    <ion-list>
      <ion-card *ngFor="let participation of upcomingMemberEvents">
        <ion-label>{{participation.event.name}}</ion-label>
      </ion-card>
    </ion-list>
  </div>
  <div *ngIf="upcomingInstructorEvents.length > 0">
    <ion-label>You are instructor for</ion-label>
    <ion-list>
      <ion-card *ngFor="let event of upcomingInstructorEvents">
        <ion-label>{{event.name}}</ion-label>
      </ion-card>
    </ion-list>
  </div>
</div>

<div *ngIf="showPastEvents()">
  <ion-header>
    <ion-toolbar>
      <ion-title>My past events</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-list>
    <ion-card *ngFor="let participation of pastMemberEvents">
      <ion-label>{{participation.event.name}}</ion-label>
    </ion-card>
  </ion-list>
</div>