.headline {
    margin-top: 2rem;
    margin-bottom: 2rem;
}

h1 {
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    font-size: xx-large;
}

.textContainer {
    width: 90%;
    color: black;
}

.container {
    --background: transparent;
}

.signup-button-mobile {
    width: 90%;
    --background: #70ad47;
}

.list {
    width: 100%;
    background-color: transparent;
    border-style: solid;
    border-color: black;
    border-width: 1px;
    border-radius: 1rem;
}

.substyle {
    --background: transparent;
}