.signup ion-grid {
  height: 100%;
}
.signup ion-row {
  justify-content: center;
}

ion-content.background {
  --background: url(../../../../assets/img/start.jpg) 0 0/100% 100% no-repeat;
}

.signup ion-col {
  padding: 20px;
  margin: 50px;
}

.signup ion-button {
  margin-top: 12px;
}

.signup ion-icon {
  margin: 20px;
}
