.outer-container {
  padding: 20px;
  display: inline-block !important;
  max-width: 100% !important;
}

.left-aligned {
  float: left !important;
}

.right-aligned {
  float: right !important;
}

h3 {
  text-align: center;
}
