<ion-content>
  <ion-list>
    <ion-radio-group [(ngModel)]="clubsubscriptionId">
      <ion-item>
        <ion-list-header><h2>Choose Subscription</h2></ion-list-header>
      </ion-item>
      <ion-item *ngFor="let sub of clubSubscriptions$ | async">
        <ion-label>{{sub.name}}</ion-label>
        <div class="ion-margin">
          <ion-label>{{sub.price}} $</ion-label>
        </div>
        <ion-radio value="{{sub.clubSubscriptionId}}"></ion-radio>
      </ion-item>
    </ion-radio-group>
  </ion-list>

  <ion-grid>
    <ion-row class="ion-justify-content-center ion-align-items-end">
      <ion-button [disabled]="!clubsubscriptionId" style="width: 80%" (click)="onSubscribe()"
        >Become a club member</ion-button
      >
    </ion-row>
  </ion-grid>
</ion-content>
